.body{
    font-family: 'Courier New', Courier, monospace;
}
.tittle{
    text-align: center;
    font-size: 30px;
    padding: 0px;
}
.tittle h1{
    padding: 0px;
    margin-bottom: 0px;
}
.conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
.files{
    padding: 30px;
}
#inc{
    color: red;
    text-align: center;
    text-decoration: underline;
    min-width: 230px;
}
#cor{
    color: pink;
    text-align: center;
    text-decoration: underline;
    min-width: 230px;
}
#sig{
    color: blue;
    text-align: center;
    text-decoration: underline;
    min-width: 230px;
}
#oka{
    color: green;
    text-align: center;
    text-decoration: underline;
    min-width: 230px;
}
.grades{
    font-size: 18px;
    font-weight: bolder;
    font-style: oblique;
    padding-left: 60px;
    
}
